@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Press+Start+2P&family=Zen+Dots&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Zen Dots', cursive; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Zen Dots', cursive;
    background-color: black;
    overflow: hidden; 
}

.display-flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-arround {
    justify-content: space-around;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-col {
    flex-direction: column;
}

.justify-self {
    justify-self: center;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}

.border-1 {
    border: 3px solid #efefef;
}

.border-2 {
    border: 3px solid black;
}

.border-3 {
    border: 3px solid rgb(26, 26, 26);
}

/*----- component STARTING INTERFACE -----*/

.container-start-game {
    background-image: url("https://cdn03.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_JustBlackJack_image1600w.jpg");
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
    transition: ease-out;
    font-family: 'Zen Dots', cursive;
}

.title-principal {
    margin: 50px auto;
    font-size: 10rem;
}

.button-start {
    position: absolute;
    left: 5%;
    top: 75%;
    color: #C8A501;
    /* margin: 130px auto; */
    font-size: 4rem;
    font-weight: 500;
    background-color: rgba(26, 26, 26, 0.527);
    border-radius: 15px;
    border: 2px solid gold;
    box-shadow: inset 0px 0px 2px 1px rgba(255, 249, 172, 0.61), inset -0px -0px 2px 1px rgba(255, 249, 172, 0.61);
}

.button-start:hover {
    background-color: transparent;
    animation-name: flashLight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.5s;
    transform: scale(1.001);
    box-shadow: 2px 2px 5px 2px white, -2px -2px 5px 2px rgba(255, 255, 255, 0.685);

}

/* @keyframes flashLight {
     0% {
        background-color: rgba(26, 26, 26, 0.527);
        font-size: 5rem;
         border-color: gold;
         /* box-shadow: 2px 2px 5px 2px white, -2px -2px 5px 2px rgba(255, 255, 255, 0.685); */

/* }
     100% {
         border-color: rgba(253, 37, 37, 0.329);
         box-shadow: 2px 2px 15px 3px rgb(255, 57, 57), -2px -2px 15px 3px rgb(250, 57, 57);
         font-size: 5.2rem;
     }
 } */

/*----- component TABLE INTERFACE -----*/

.container-principal {
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/735/479/671/paisley-pattern-wallpaper-preview.jpg');
    background-size:cover;
    


} 


.score-container {
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 2rem;
    color: silver;    
}
.result-container {
    color: #BB1F1B;
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    
}

.score-player {   
    border: 1px solid #C8A501;
    border-radius: 10px;
    width: 350px;
    align-self: flex-end;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;

}
.score-player>span {   
    color: #C8A501;
    font-size: 1.5em;
}

.score-dealer {    
    border: 1px solid #C8A501;
    border-radius: 10px;
    width: 350px;
    align-self: flex-end;
margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.score-dealer>span {   
    color: #C8A501;
    font-size: 1.5em;
}


.container-table {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-row: 1fr;
    height: 100vh;
    margin-top: 50px; 
    justify-items: center;   
}

.table-left-player {
    grid-column: 1/2;
    display: flex;    
}

.table-middle-button {
    grid-column: 2/3;
    align-self: center;    
    margin-bottom: 30%;
}

.table-right-dealer {
    grid-column: 3/4;
    display: flex;
   
}
.container-cards {
    background-color: transparent;
}

.card-player {
    width: 150px;
    height: auto;
    border: 1px solid #C8A501;
    border-radius: 10px;
    transform: scale(1);  
    margin-left: -50px;     
}
.card-dealer {
    width: 150px;
    height: auto;
    border: 1px solid #C8A501;
    border-radius: 10px;
    transform: scale(1);
    margin-right: -50px;     
    
}

/*----- component Replay INTERFACE -----*/


.replay-interface {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/blackjack-1.jpg");
    background-size:cover; 
    text-align: center; 
    font-family: 'Zen Dots', cursive;
    /* font-family: 'Press Start 2P', cursive;  */
}
.button-replay {
    margin-top: 250px;
    color: #C8A501;    
    font-size: 3rem;
    font-weight: 800;
    background-color: rgba(26, 26, 26, 0.527);
    border-radius: 15px;
    border: 2px solid #C8A501;
    box-shadow: inset 0px 0px 2px 1px rgba(255, 249, 172, 0.61), inset -0px -0px 2px 1px rgba(255, 249, 172, 0.61);
}

.button-replay:hover {
    background-color: transparent;    
    transition: 0.5s;
    transform: scale(1.005);
}

